<div>
  <h2>Publicar una nueva noticia</h2>
  <form (ngSubmit)="agregarPublicacion()">
    <label for="titulo">Título:</label>
    <input
      id="titulo"
      [(ngModel)]="nuevaPublicacion.titulo"
      name="titulo"
      required
    />

    <label for="imagen">Imagen (URL):</label>
    <input
      id="imagen"
      [(ngModel)]="nuevaPublicacion.imagen"
      name="imagen"
      required
    />

    <label for="texto">Texto:</label>
    <textarea
      id="texto"
      [(ngModel)]="nuevaPublicacion.texto"
      name="texto"
      required
    ></textarea>

    <button type="submit">Publicar</button>
  </form>

  <h2>Listado de noticias</h2>
  <div
    *ngFor="let publicacion of publicaciones; let i = index"
    class="publicacion"
  >
    <h3>{{ publicacion.titulo }}</h3>
    <img [src]="publicacion.imagen" alt="{{ publicacion.titulo }}" />
    <p>{{ publicacion.texto }}</p>
    <small>{{ publicacion.fecha }}</small>
  </div>
</div>
